// Base Colors
$dark-green: #387c3b;
$light-green: #39AC4C;
$black: #000;
$white: #FFF;
$grey: #333;
$light-grey: #eee;
$hover-grey: #777;

// Typography
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$logo-font: "Merriweather", serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Transitions
$transition-speed: 0.3s;

// Global Variables

:root {
    --dark-green: #387c3b;
    --light-green: #39AC4C;
    /* General Colors */
    --background: #{$black};
    --text: #{$black};
    --highlight: #{$light-green};
    --hover-color: #{$hover-grey};
    --link-color: #66bb6a; // Softer green for links in dark mode
    // Header
    //--box-shadow: rgba(0, 0, 0, 0.5);
    --box-shadow: rgba(56, 124, 59, 0.5); 
    --header-text: black;

    /* logo */
    --logo-color: black;
    --logo-font: #{$logo-font};
    /* Header and Layout */
    --header-background: #{$grey};
    --header-line: #{$white};
    --header-text: #{$white};
    --nav-font: #{$font-family-primary};
    --nav-hover-color: #{$dark-green};
    --nav-height: 65px;


    /* Callouts (Dark Theme) */
    --info-border: #66bb6a;
    --info-background: #2e3b2e;
    --info-text: #{$black};
    
    /* Buttons */
    --button-primary-bg: #{$light-green};
    --button-primary-text: #{$black};
    --button-secondary-bg: #{$grey};
    --button-secondary-text: #{$white};
}