---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found" description="404 Not Found" footer={false}>
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h1 class="h1">Welp, this is awkward!</h1>
      <p>We seem to have misplaced something…</p>
    </div>
    <img
        id="chewy-gif"
        src="https://media.tinkernerd.dev/gifs/archive_incomplete.gif"
        width="498"
        height="280"
        alt="Impossible. Perhaps the archives are incomplete."
    />
    <Link
      href="/"
      style="secondary"
      text="Go Home"
      icon={{
        name: "tabler:home",
        side: "right",
      }}
    />
  </div>
</MainLayout>
