---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Privacy Policy">
  <header><h1>Privacy Policy</h1></header>
        <h2>Introduction</h2>
        <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and safeguard your
            information when you visit our website.</p>
        </section>
        
        <section>
            <h2>Information We Collect</h2>
            <ul>
                <li><strong>Personal Information:</strong> Information such as your name, email address, and other
                    contact details that you voluntarily provide when filling out forms or signing up for newsletters.
                </li>
                <li><strong>Cookies:</strong> Information collected via cookies to improve user experience and website
                    functionality.</li>
                <li><strong>Usage Data:</strong> Information about your interactions with our website, including IP
                    address, browser type, and pages visited.</li>
            </ul>
        </section>
        
        <section>
            <h2>How We Use Your Information</h2>
            <p>We may use the information we collect for the following purposes:</p>
            <ul>
                <li>To improve the website and user experience</li>
                <li>To communicate with you about updates or inquiries</li>
                <li>To comply with legal obligations</li>
            </ul>
        </section>
        
        <section>
            <h2>Cookies</h2>
            <p>Cookies are small text files stored on your device to enhance your browsing experience.</p>
            <p>You can disable cookies through your browser settings. However, some features of this website may not
                function properly if cookies are disabled.</p>
        </section>
        
        <section>
            <h2>Third-Party Services</h2>
            <p>We may use third-party services (e.g., analytics or ad services) that collect, monitor, and analyze data
                to help us better understand and optimize our website.</p>
        </section>
        
        <section>
            <h2>Your Rights</h2>
            <p>You have the right to:</p>
            <ul>
                <li>Access and request a copy of the data we collect about you</li>
                <li>Request corrections or updates to your data</li>
                <li>Request the deletion of your data</li>
            </ul>
        </section>
        <section>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy Policy on this page.</p>
        </section>
        </MainLayout>