---
import { siteConfig, MenuLinks } from '@/data/site.config';
import HeaderLink from './HeaderLink.astro';
// active link
const MenuLinksArray = Object.values(MenuLinks);
---
<nav class="navbar">
  <div class="container nav-container">
    <div class="logo flex">
    <a href="/" class="logo-link" aria-label="Go to homepage">
      <svg class="logo"
      width={40}
      height={40}
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.1 108.9">
        <defs>
          <style>
            .bulb {
              fill: white;
            }
          </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer_1">
          <g>
            <path class="bulb" d="M42.77,68.98H5.33c-.31,0-.58.18-.69.45-.04.1-.06.19-.06.3v5.05c0,.77.14,1.52.42,2.23.27.72.68,1.37,1.2,1.94,1.41,1.54,2.52,3.18,3.21,4.28.51.82.85,1.47,1.03,1.81.08.15.12.24.12.24.12.25.38.42.67.42h25.64c.29,0,.55-.17.67-.42,0,0,.04-.08.12-.22.16-.32.51-.99,1.03-1.82.69-1.11,1.8-2.76,3.2-4.28.52-.57.92-1.21,1.2-1.94.28-.72.42-1.47.42-2.23v-5.05c0-.41-.34-.75-.75-.75ZM42.02,74.78c0,.58-.11,1.15-.32,1.69-.21.54-.52,1.03-.9,1.46-1.49,1.62-2.66,3.35-3.38,4.51-.46.75-.8,1.37-1,1.75H11.69c-.2-.38-.54-1-1-1.75-.72-1.16-1.89-2.89-3.39-4.51-.39-.42-.69-.92-.91-1.46-.21-.54-.31-1.12-.31-1.69v-4.29h35.93v4.29Z"/>
            <path class="bulb" d="M37.33,60.28c-.2-.1-.41-.2-.63-.29-.4-.17-.84-.32-1.32-.49-.15-.04-.32-.04-.47,0l-27.46,9.26c-.38.13-.78.2-1.17.2h-.06c-.08,0-.17,0-.24,0-.14,0-.28-.03-.45-.07-.35-.07-.71.14-.85.46l-.03.07c-.04.1-.06.19-.06.3,0,.14.04.29.12.42.03.05.07.1.11.13.14.13.32.21.51.21h37.44c.41,0,.75-.34.75-.76,0-4.27-2.14-7.53-6.19-9.45ZM11.57,68.98l23.58-7.97c.35.12.67.24.97.37,3.66,1.54,5.63,4.09,5.87,7.6H11.57Z"/>
            <path class="bulb" d="M40.57,16.86l-.12-.02h0l-10.33-1.12-3.4-.37c-.1,0-.2,0-.3.03l-18.65,6.3c-.29.1-.59.17-.89.22-.37.06-.65.38-.64.77,0,.38.3.69.67.72h.1s10.55,1.16,10.55,1.16h0l3.4.37h.09c.07,0,.15,0,.22-.03l19.37-6.53s.05-.02.08-.03c.34-.1.56-.44.52-.79-.03-.36-.31-.64-.67-.68ZM20.97,23.4l-10.28-1.12h-.02l16.03-5.41,10.29,1.12-16.03,5.41Z"/>
            <path class="bulb" d="M40.26,32.63l-.17-.02-10.29-1.12-3.39-.37c-.1,0-.22,0-.32.03l-18.63,6.29c-.31.1-.65.17-1,.18-.39.03-.7.34-.72.73,0,.39.29.73.67.77h.09s.03,0,.03,0l10.74,1.17,3.39.37s.06,0,.09,0c.03,0,.08,0,.12,0l19.54-6.6c.34-.11.55-.44.51-.79-.04-.35-.32-.63-.67-.66ZM20.65,39.17l-10.29-1.12,6.46-2.18,9.57-3.23,10.29,1.11-16.04,5.42Z"/>
            <path class="bulb" d="M40.65,48.17l-.11-.02h0l-10.35-1.12-3.41-.37c-.1,0-.19,0-.28.03l-19.04,6.43c-.13.03-.27.08-.43.11-.36.07-.61.4-.59.77.02.38.31.67.67.72h.08s10.44,1.14,10.44,1.14h0l3.4.37h.08c.05,0,.1,0,.17-.02h0s.04,0,.07-.02l10.39-3.52,8.9-3h.04s.06-.03.09-.03c.35-.1.57-.44.53-.79-.03-.36-.31-.64-.66-.68ZM31.27,51.25l-10.23,3.45-10.29-1.12,16.03-5.41,10.27,1.12-5.78,1.95Z"/>
            <path class="bulb" d="M46.82,51.54c-.22-.67-.58-1.27-1.04-1.81-.45-.51-.99-.92-1.61-1.22-.6-.3-1.26-.48-1.94-.53-.57-.04-1.14.02-1.7.17h0c-.06.02-.11.03-.17.05h-.04s-.1.03-.14.04l-1.4.48h0l-1.72.58-5.78,1.95-10.23,3.45-1.7.58-1.7.58h0l-13.05,4.41c-.67.23-1.28.58-1.81,1.05-.51.44-.92.99-1.22,1.6-.3.61-.48,1.27-.53,1.94-.05.71.03,1.4.26,2.07.23.67.58,1.28,1.05,1.81.45.51.99.92,1.6,1.22.21.1.44.19.66.27.08.03.16.05.24.07.13.03.27.07.41.1.24.05.44.08.64.1.11,0,.23.02.34.02h.1c.55,0,1.1-.1,1.63-.28l1.42-.48,2.22-.75,23.58-7.97,1.13-.38,1.06-.36,6.19-2.09c.67-.23,1.27-.58,1.81-1.04.51-.45.92-.99,1.22-1.61.3-.61.48-1.26.53-1.94.05-.7-.04-1.4-.27-2.07ZM45.2,54.88c-.22.44-.51.82-.87,1.14-.38.33-.8.58-1.28.74l-8.13,2.75-27.46,9.26c-.38.13-.78.2-1.17.2h-.06c-.08,0-.17,0-.24,0-.14,0-.28-.03-.45-.07-.33-.06-.65-.17-.93-.31-.44-.21-.82-.51-1.14-.86-.33-.38-.58-.81-.74-1.29-.17-.48-.23-.98-.19-1.47.03-.48.17-.95.38-1.38.22-.44.51-.83.87-1.14.38-.33.8-.58,1.28-.75l16.23-5.48h0l10.46-3.53,8.9-3h.04s.06-.03.09-.03c.45-.14.9-.18,1.34-.16.49.04.95.17,1.39.38s.82.51,1.14.87c.33.38.58.8.74,1.28.17.48.23.98.19,1.47-.04.48-.17.95-.38,1.39Z"/>
            <path class="bulb" d="M46.82,35.87c-.22-.67-.58-1.27-1.04-1.8-.45-.51-.99-.92-1.61-1.22-.6-.31-1.26-.49-1.94-.53-.7-.05-1.4.03-2.07.26l-.08.03-1.7.58-1.69.57-16.04,5.42-1.68.57-1.7.58-12.69,4.28c-.67.23-1.28.58-1.81,1.05-.51.45-.92.99-1.22,1.6-.3.61-.48,1.26-.53,1.95-.05.7.03,1.4.26,2.07.23.66.58,1.27,1.05,1.8.45.51.99.92,1.6,1.22.61.31,1.27.48,1.95.53.12,0,.24.02.38.02.31,0,.63-.03.94-.1l.16-.03c.22-.04.41-.1.59-.16l1.11-.38,1.71-.58,16.03-5.41,1.7-.58,1.7-.58,12.24-4.14.06-.02,1.05-.35c.67-.23,1.27-.58,1.81-1.05.25-.23.49-.49.7-.77.02-.02.03-.04.04-.06.18-.24.34-.51.48-.77.3-.61.48-1.27.53-1.95.05-.7-.04-1.4-.27-2.07ZM45.2,39.22c-.1.21-.23.41-.37.59-.16.2-.32.38-.51.55-.38.33-.8.58-1.28.74l-1.05.36-15.51,5.23-19.04,6.43c-.13.03-.27.08-.43.11-.35.07-.71.1-1.05.07-.49-.03-.95-.17-1.39-.38-.44-.22-.82-.51-1.14-.87-.33-.38-.58-.81-.74-1.29-.17-.48-.23-.97-.19-1.47.03-.48.17-.94.38-1.38s.51-.82.87-1.14c.38-.33.8-.58,1.28-.74l15.82-5.35,19.54-6.6.24-.08c.39-.13.79-.2,1.2-.2.1,0,.19,0,.28.02.49.03.95.16,1.39.38s.82.51,1.14.87c.33.38.58.81.74,1.28.17.48.23.98.19,1.47-.04.49-.17.95-.38,1.39Z"/>
            <path class="bulb" d="M46.82,20.21c-.22-.67-.58-1.28-1.04-1.81-.45-.51-.99-.92-1.61-1.22-.6-.31-1.26-.48-1.94-.53-.6-.04-1.2,0-1.79.18h0c-.06.02-.11.03-.17.05-.03,0-.06.02-.1.03l-1.47.5-1.71.58-16.03,5.41-1.71.58-1.69.58h0l-12.98,4.38c-.67.23-1.28.58-1.81,1.05-.51.45-.92.99-1.22,1.6-.3.61-.48,1.26-.53,1.95-.05.7.03,1.4.26,2.07.23.67.58,1.27,1.05,1.81.45.51.99.92,1.6,1.21.61.31,1.27.49,1.95.53.1,0,.22.02.33.02.1,0,.19,0,.3,0h.03c.49-.03.96-.11,1.4-.27l.73-.24,1.7-.58,6.46-2.18,9.57-3.23,1.69-.58,1.7-.58,13.73-4.63c.67-.23,1.27-.58,1.81-1.05.51-.44.92-.99,1.22-1.6.3-.61.48-1.26.53-1.94.05-.71-.04-1.4-.27-2.07ZM45.2,23.55c-.22.44-.51.82-.87,1.14-.38.33-.8.58-1.28.74l-16.97,5.73-18.63,6.29c-.31.1-.65.17-1,.18-.19.02-.34.02-.47,0-.49-.03-.95-.16-1.39-.38s-.82-.51-1.14-.87c-.33-.38-.58-.8-.74-1.28-.17-.48-.23-.98-.19-1.47.03-.49.17-.95.38-1.39s.51-.82.87-1.14c.38-.33.8-.58,1.28-.74l16.22-5.48,19.37-6.53s.05-.02.08-.03c.38-.11.76-.17,1.13-.17.1,0,.18,0,.27,0,.49.03.95.17,1.39.38.44.22.82.51,1.14.87.33.38.58.81.74,1.29.17.48.23.97.19,1.47-.04.48-.17.94-.38,1.38Z"/>
            <path class="bulb" d="M46.32,3.76c-.37-.77-.88-1.4-1.54-1.88-.66-.47-1.42-.76-2.27-.85-.85-.09-1.74.02-2.66.32L4.73,13.22c-.48.16-.94.42-1.38.76-.41.32-.78.71-1.1,1.14-.31.44-.56.92-.73,1.4-.18.52-.28,1.05-.28,1.55,0,.97.18,1.85.54,2.63.36.77.88,1.4,1.54,1.88.66.47,1.42.76,2.27.85.19.02.38.03.58.03.27,0,.56-.02.84-.06.03,0,.06,0,.1,0,.38-.06.77-.16,1.13-.28l.75-.25,1.7-.58,16.02-5.41,1.7-.58,1.7-.58,13.26-4.48c.48-.16.94-.42,1.38-.76.41-.32.78-.71,1.09-1.14.32-.44.57-.92.74-1.41.18-.51.28-1.04.28-1.54,0-.97-.18-1.85-.54-2.63ZM45.17,7.43c-.13.36-.31.71-.55,1.03-.23.32-.5.61-.8.85-.3.24-.61.41-.93.51l-16.47,5.56-18.65,6.3c-.29.1-.59.17-.89.22-.39.06-.77.07-1.12.03-.58-.06-1.11-.26-1.55-.58-.45-.31-.8-.75-1.05-1.28-.27-.58-.41-1.25-.41-1.99,0-.33.07-.69.19-1.05.13-.36.31-.71.55-1.03.23-.32.5-.61.79-.85.31-.24.62-.41.93-.51L40.34,2.78c.54-.18,1.06-.28,1.57-.28.15,0,.3,0,.44.03.58.06,1.11.26,1.55.58.44.32.8.76,1.05,1.29.27.58.41,1.24.41,1.99,0,.33-.07.69-.19,1.05Z"/>
            <path class="bulb" d="M36.91,84.2H11.19c-.42,0-.75.33-.75.75v3.89c0,.42.33.75.75.75h25.73c.42,0,.75-.33.75-.75v-3.89c0-.42-.33-.75-.75-.75ZM11.94,88.09v-2.39h24.23v2.39H11.94Z"/>
            <path class="bulb" d="M36.91,88.09H11.19c-.42,0-.75.33-.75.75v3.89c0,.42.33.75.75.75h25.73c.42,0,.75-.33.75-.75v-3.89c0-.42-.33-.75-.75-.75ZM11.94,91.98v-2.39h24.23v2.39H11.94Z"/>
            <path class="bulb" d="M36.91,91.98H11.19c-.42,0-.75.33-.75.75v3.89c0,.42.33.75.75.75h25.73c.42,0,.75-.33.75-.75v-3.89c0-.42-.33-.75-.75-.75ZM11.94,95.87v-2.39h24.23v2.39H11.94Z"/>
            <path class="bulb" d="M36.92,95.87H11.18c-.42,0-.74.33-.74.75v3.89c0,.41.32.75.74.75h25.74c.42,0,.74-.34.74-.75v-3.89c0-.42-.32-.75-.74-.75ZM11.93,99.76v-2.39h24.23v2.39H11.93Z"/>
            <path class="bulb" d="M36.92,99.76H11.18c-.42,0-.74.33-.74.75,0,.87.27,1.73.8,2.47.52.72,1.25,1.32,2.12,1.73l4.58,2.47c.07.04.15.09.23.12.09.04.17.09.27.12.07.03.12.05.17.07.13.05.26.1.4.13.18.06.38.11.58.15.22.04.44.08.64.1.03,0,.05,0,.09,0,.18.02.38.03.58.03h6.54c.17,0,.37,0,.56-.03h.02c.17,0,.35-.03.51-.07.12-.02.25-.04.38-.07.13-.03.25-.06.37-.1.16-.04.3-.09.44-.16h0c.08-.03.15-.05.24-.09.19-.1.38-.19.6-.31l4.17-2.38c.86-.41,1.6-1,2.1-1.72.54-.74.81-1.6.81-2.47,0-.42-.32-.75-.74-.75ZM35.63,102.11c-.37.51-.89.94-1.54,1.24-.02,0-.03.02-.05.03l-4.18,2.38-.03.02c-.15.09-.31.17-.46.24-.16.07-.32.13-.47.17-.1.03-.19.05-.29.08-.08.02-.15.03-.24.04-.02,0-.03,0-.07,0-.13.03-.28.04-.42.05-.13.02-.29.03-.42.03h-6.54c-.17,0-.35,0-.51-.03-.14-.02-.27-.03-.41-.06-.03,0-.06,0-.1-.02-.15-.03-.31-.07-.44-.11-.16-.04-.31-.1-.44-.15-.05-.03-.12-.05-.17-.08-.07-.03-.14-.07-.2-.1l-.16-.08-4.44-2.4s-.03-.02-.03-.03c-.65-.3-1.18-.72-1.54-1.24-.19-.27-.34-.55-.42-.85h23.99c-.09.3-.24.58-.42.85Z"/>
          </g>
        </g>
      </svg>
      <h1>{siteConfig.title}</h1>
    </a>
    </div>
    <div class="nav-wrapper">
      <button class="btn btn--menu" id="menu-btn" aria-expanded="false" aria-controls="menu" aria-label="Open mobile nav">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          stroke-width="4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
        </svg>
      </button>
      <ul role="menubar" class="nav-links" id="menu">
        {Object.values(MenuLinks).map((link) => (
          <li role="none">
            <HeaderLink 
              href={link.url} 
              target={link.external ? "_blank" : undefined} 
              rel={link.external ? "noopener noreferrer" : undefined} 
              aria-label={link.title}
            >
              {link.title}
            </HeaderLink>
          </li>
        ))}
      </ul>      
    </div>
  </div>
</nav>