---
import projects from "@/data/projects";
import ProjectCard from "@/components/ProjectCard.astro";

// Sort projects alphabetically by name
const sortedProjects = [...projects].sort((a, b) => a.name.localeCompare(b.name));
---

<div class="projects">
  {sortedProjects.map((project) => (
    <ProjectCard {...project} />
  ))}
</div>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
</style>

