---
import "../styles/styles.scss";
import SEO from "../components/SEO.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap"
			rel="stylesheet"
		/>

		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>

		<title>TinkerNerd!</title>

		<SEO
			description="🚀 This site is a collection of my projects, passions, and explorations across various domains. From programming to aviation, and a love for tinkering, there’s always something happening here."
		/>

		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
