---
import HeadCommon from "@/components/HeadCommon.astro";
import Header from "../components/Header/Header.astro";
import MainFooter from "@/components/Footer/MainFooter.astro";
const {
    title,
    description,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <HeadCommon {title} {description} />
	</head>
	<body>
    <Header />
    <main>
      <slot />
		</main>
    <MainFooter/>
	</body>
</html>
<style> 
