.github-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: #24292e;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  margin-top: 0; /* Remove any top margin if applied */

  &:hover {
      background-color: #444d56;
  }

  .github-logo {
      width: 20px;
      height: 20px;
      margin-right: 8px;
  }

  code {
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      font-size: 14px;
  }
}
