table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  width: 100%;
  table-layout: fixed;
}

figure > table {
  width: max-content;
  margin: 0;
}

table caption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

td,
th {
  border: 1px solid var(--border);
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

th {
  background-color: var(--background);
  font-weight: bold;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background);
}

tbody tr:nth-child(even) button {
  background-color: var(--theme-bg);
}

tbody tr:nth-child(even) button:hover {
  background-color: var(--theme-bg);
}
